.Box1{
    display: flex;
   margin-top: 10px;
   justify-content: flex-end;
   padding: 0;
}

#Box1-left{
    margin-top: 7px;
}

#Box1-right{
    margin-right: 10px;
    margin-left: 10px;
}

.Box2{
    background-color: rgba(224, 33, 33, 1);
    display: flex;
    justify-content:space-between;
    padding: 15px 15px 0 15px;
}

#custom-link{
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0 10px;
}

.Box2-left{
    margin-left: 50px;
}

.Box2-right{
    margin-right: 30px;
    margin-top: 30px;
    
}

.Box-add{
    display: flex;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgba(217, 217, 217, 1);
}

#link{
    color: black    ;
}

#a{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.Box3{
    display: flex;
    justify-content:space-around;
}

#one{
    width: auto;
    height: 30px;
    padding: 1px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 20px;
}

#one1{
    margin-left: 35px;
    border-radius: 20px;
}

.Box8{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Box8-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}

#b {
    width: 230px;
    height: 295px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    float: left;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#b p{
    margin-top: 19px;
}

/* Đuôi */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-left img {
    height: 300px; /* Adjust height as needed */
}

.footer-right {
    display: flex;
}

.footer-column {
    flex: 1;
    text-align: left;
    padding: 0 20px;
}

.footer-column h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}